html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
body {
    background-color: #31394c;
    color: #ffffff;
}
.container {
    display: grid;
    grid-template-rows: 13vh 75vh 12vh;
    grid-template-areas: "h"
                         "m"
                         "f"
}

/* ================HEADER=================== */

header {
    grid-area: h;
}

nav {
    display: grid;
    grid-template-columns: 15vw 70vw 15vw;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
}

.menu-toggle {
    position: absolute;
        right: 0;
        top: 15px;
}

#menu {
    list-style: none;
    padding: 0;
    margin: 0;
    grid-column: 2/3;
    justify-self: center;
    display: flex;
}

#menu li {
    padding: 30px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.12rem;
    display: inline;
}

#menu a {
    padding: 2.5%;
    display: inline-block;
    transition: all 400ms linear 0s;
}

#menu a:hover {
    color: #f2c94c;
    text-shadow: 0 0 0px #fff, 0 0 50px #f2c94c;
}

/* ================MAIN=================== */

main {
    grid-area: m;
}

.stopwatch {
    display: grid;
    justify-items: center;
    grid-row-gap: 23px;
    width: 100%;
    padding-bottom: 20%;
}

.style {
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    text-align: center;
    line-height: 3.68rem;
    margin: 0;
}

.gold {
    font-weight: 900;
    color: #f2c94c;
    text-shadow: 0 0 0px #fff, 0 0 50px #f2c94c;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 270px;
    width: 270px;  
    border: 2px solid;
    border-radius: 50%;
}

/* Deixar o cronômetro com 'hover' quando o mouse passa:
 .circle:hover {
    color: #f2c94c;
    text-shadow: 0 0 0px #fff, 0 0 50px #f2c94c;
} */

.time {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 3rem;
}

.controls {
    display: flex;
    justify-content: space-between;
    width: 187px;
}

button {
    background: transparent;
    padding: 0;
    border: none;
    margin: 0;
    outline: none;
    cursor: pointer;
}

#playButton {
    display: block;
}
#pauseButton {
    display: none;
}

/* ================FOOTER=================== */

footer {
    grid-area: f;
    display: grid;
    align-content: center;
}