<footer>
    <a href="https://gold-stopwatch.netlify.app/" target="_blank" rel="noreferrer" rel="noopener" title="Clique aqui para visualizar o projeto original">
        <p class="style">
            <span class="gold">G</span> S
        </p>
    </a>
</footer>