html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #31394c;
    color: #ffffff;
}

h1, p {
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    text-align: center;
    line-height: 59px;
    margin: 0;
}
p {
    margin: 0;
    padding: 2.5%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-content: center;
 }

.container {
    display: grid;
    grid-template-rows: 13vh 75vh 12vh;
    grid-template-areas: "h"
                         "m"
                         "f"
}

header {
    grid-area: h;
}

main {
    grid-area: m;
}

footer {
    grid-area: f;
}

.stopwatch {
    display: grid;
    justify-items: center;
    grid-row-gap: 23px;
    width: 100%;
}

.gold {
    font-weight: 900;
    color: #f2c94c;
    text-shadow: 0 0 0px #fff, 0 0 50px #f2c94c;
}

.time {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 48px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 270px;
    width: 270px;  
    border: 2px solid;
    border-radius: 50%;
  }

.controls {
    display: flex;
    justify-content: space-between;
    width: 187px;
}

button {
    background: transparent;
    padding: 0;
    border: none;
    margin: 0;
    outline: none;
    cursor: pointer;
}

#playButton {
    display: block;
}
#pauseButton {
    display: none;
}