<!DOCTYPE html>
<html lang="en">

<%- include('partials/head'); %>
<title>Informações sobre o projeto</title>
<link rel="stylesheet" href="/styles/pages/about.css">
<meta name="description" content="Informações gerais sobre o autor, o projeto e tecnologias empregadas">
<meta name="keywords" content="contato, redes sociais, tecnologia, projeto">
<meta property="og:type" content="website">
<meta property="og:title" content="Informações sobre o projeto">
<meta property="og:description" content="Informações gerais sobre o autor, o projeto e tecnologias empregadas">
<meta property="og:site_name" content="Gold Stopwatch">
<meta property="og:images" content="">



<body>

    <%- include('partials/header'); %>

    <main>
        <div></div>
    </main>
    
    <%- include('partials/footer'); %>

    <script src="/scripts/menu.js"></script>

</body>
</html>