<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <%- include('partials/head') %>
    </head>


<body class="container">
    
    <%- include('partials/header') %>

    <main class="stopwatch">
        <h1 class="style">
            <span class="gold">GOLD</span> STOPWATCH
        </h1>
        <div class="circle">
            <span class="time" id="display">00:00:00</span>
        </div>
        <div class="controls">
            <button class="buttonPlay">
                <img id="playButton" src="/icons/play-button.svg" alt="Play button">
                <img id="pauseButton" src="/icons/pause-button.svg" alt="Pause button">
            </button>
            <button class="buttonReset">
                <img id="resetButton" src="/icons/reset-button.svg" alt="Reset button">
            </button>
        </div>
    </main>

    <%- include('partials/footer') %> 
    
    <script src="/scripts/script.js"></script>
    <script src="/scripts/menu.js"></script>
</body>

</html>