<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body class="container">

    <%- include('partials/header') %>

    <main>
        <div>
            <h1 class="style">
                Curiosidades sobre o <span class="gold">Tempo</span>
            </h1>
        </div>
        <section>
            <div>
                <article>
                    <h2>O que é o "Tempo"?</h2>
                    <p>O tempo é uma grandeza física presente não apenas no cotidiano como também em todas as áreas e cadeiras científicas. Uma definição do mesmo em âmbito científico é por tal não apenas essencial como também, em verdade, um requisito fundamental. Contudo isto não significa que a ciência detenha a definição absoluta de tempo: ver-se-á que tempo, em ciência, é algo bem relativo, não só em um contexto cronológico - afinal, as teorias científicas evoluem - como em um contexto interno ao próprio paradigma científico válido atualmente</p>
                </article>
                <figure>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/17/Esta%C3%A7%C3%A3o_Meteorologia.JPG" alt="Estação meteorológica">
                    <figcaption>A palavra tempo pode referir-se às condições climáticas num determinado momento em uma dada localidade.</figcaption>
                </figure>
            </div>
            <div>
                <article>
                    <h2>Relógio</h2>
                    <p>O tempo marcado pelo relógio não é universal, mas sim uma construção histórica. Medir o tempo significa em princípio registrar coincidências. Quando alguém marca um compromisso, digamos às 13:00 horas do presente dia, está informando que ela estará no local combinado quando o ponteiro grande do relógio colocado naquele local coincidir com a marca no dial sobre a qual há a inscrição "12", e o ponteiro pequeno coincidir com a marca associada à inscrição "1".</p>
                </article>
                <figure>
                    <img src="https://i.imgur.com/lnOP1cS.jpg" alt="Relógio de pulso">
                    <figcaption>Relógio de pulso.</figcaption>
                </figure>
            </div>
            <div>
                <article>
                    <h2>Cronômetro</h2>
                    <p>O termo chronometer foi originalmente cunhado por Jeremy Thacker de Beverley, na Inglaterra em 1714[2], para se referir a sua invenção de um relógio instalado em uma câmara de vácuo, utilizado para auxiliar a navegação ao determinar rotas marítimas mais seguras e precisas através da utilização das estrelas para navegação noturna e para determinar a longitude.<br>
                    O cronômetro no formato que conhecemos hoje surgiu na década de 1860 a partir de evoluções do cronômetro original realizadas pelas empresas Seiko e Tag Heuer.</p>
                </article>
                <figure>
                    <img src="https://www-tc.pbs.org/prod-media/antiques-roadshow/__sized__/Images/VirginiaBeach_20160625_08/201602T33/33ChronoCU3-crop-c0-46__0-49-676x380.jpg" alt="Cronômetro marinho">
                    <figcaption>Cronômetro marinho inglês de 1835</figcaption>
                </figure>
            </div>
        </section>
    </main>
    
    <%- include('partials/footer') %>

</body>
</html>