<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body class="container">

    <%- include('partials/header') %>

    <main>
        <div class="title-time">
            <h1 class="style">
                Curiosidades sobre o <span class="gold">Tempo</span>
            </h1>
        </div>
        <section class="section-time">
            <div class="card">
                <figure >
                    <img class="img-size" src="https://img.freepik.com/vetores-gratis/ampulheta-3d-realista-com-areia-em-execucao-dentro-isolado-no-fundo-escuro-e-transparente_1441-2250.jpg?size=338&ext=jpg" alt="Ampulheta">
                </figure>
            </div>
            <div class="card">
                <article>
                    <h2>O que é o "Tempo"?</h2>
                    <p>O tempo é uma grandeza física presente não apenas no cotidiano como também em todas as áreas e cadeiras científicas. Uma definição do mesmo em âmbito científico é por tal não apenas essencial como também, em verdade, um requisito fundamental. Contudo isto não significa que a ciência detenha a definição absoluta de tempo: ver-se-á que tempo, em ciência, é algo bem relativo, não só em um contexto cronológico - afinal, as teorias científicas evoluem - como em um contexto interno ao próprio paradigma científico válido atualmente</p>
                </article>
            </div>

            <div class="card">
                <figure>
                    <img class="img-size" src="https://i.imgur.com/lnOP1cS.jpg" alt="Relógio de pulso">
                </figure>
            </div>

            <div class="card">
                <article>
                    <h2>Relógio</h2>
                    <p>O tempo marcado pelo relógio não é universal, mas sim uma construção histórica. Medir o tempo significa em princípio registrar coincidências. Quando alguém marca um compromisso, digamos às 13:00 horas do presente dia, está informando que ela estará no local combinado quando o ponteiro grande do relógio colocado naquele local coincidir com a marca no dial sobre a qual há a inscrição "12", e o ponteiro pequeno coincidir com a marca associada à inscrição "1".</p>
                </article>                
            </div>
            
            <div class="card">
                <figure>
                    <img class="img-size" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBxqY83evzNB6z7wsunghuzq-DonNFYc3XgA&usqp=CAU" alt="Cronômetro marinho">
                </figure>
            </div>

            <div class="card">
                <article>
                    <h2>Cronômetro</h2>
                    <p>O termo "chronometer" foi originalmente cunhado por Jeremy Thacker de Beverley, na Inglaterra em 1714[2], para se referir a sua invenção de um relógio instalado em uma câmara de vácuo, utilizado para auxiliar a navegação ao determinar rotas marítimas mais seguras e precisas através da utilização das estrelas para navegação noturna e para determinar a longitude.<br>
                    O cronômetro no formato que conhecemos hoje surgiu na década de 1860 a partir de evoluções do cronômetro original realizadas pelas empresas Seiko e Tag Heuer.</p>
                </article>                
            </div>            
        </section>
    </main>
    
    <%- include('partials/footer') %>

</body>
</html>