<footer>
    <div class="logo">
            <p class="style">
                <span class="gold">G</span> S
            </p>
    </div>

    <div class="social-media-footer">
        <a href="https://www.facebook.com">
            <img src="/icons/facebook.svg" alt="Facebook">
        </a>
        <a href="https://www.instagram.com">
            <img src="/icons/instagram.svg" alt="Instagram">
        </a>
        <a href="https://github.com/FredericoSantana">
            <img src="/icons/github-bw.svg" alt="GitHub">
        </a>
    </div>
    
</footer>