<header  class="menu-section">
    <div class="menu-toggle">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
    </div>
    <nav>
        <ul id="menu">
            <li><a class="link-clear" href="/">Home</a></li>
            <li><a class="link-clear" href="/tempo">Tempo</a></li>
            <li><a class="link-clear" href="/sobre">Sobre</a></li>
        </ul>
    </nav>
</header>