header {
    grid-area: h;
}

nav {
    display: grid;
    grid-template-columns: 15vw 70vw 15vw;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
}

.menu-toggle {
    position: absolute;
        right: 0;
        top: 15px;
}

#menu {
    list-style: none;
    padding: 0;
    margin: 0;
    grid-column: 2/3;
    justify-self: center;
    display: flex;
}

#menu li {
    padding: 30px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.12rem;
    display: inline;
}

#menu a {
    padding: 2.5%;
    display: inline-block;
    transition: all 400ms linear 0s;
}

#menu a:hover {
    color: #f2c94c;
    text-shadow: 0 0 0px #fff, 0 0 50px #f2c94c;
}